$c-text-main: #333333;
$c-text-second: #222222;
$c-link-main: #631421;
$c-link-hover: lighten($c-link-main, 20%);
$c-button-main: #631421;
$c-button-hover: lighten($c-link-main, 20%);
$c-elem-main: #631421;
$c-elem-second: #CFAF7D;
$c-bg-main: #ffffff;
$c-bg-gray: #FAFAFA;
$c-border: #631421;

$font-main: "Spectral", "Times New Roman", serif;
$font-second: "PTMono", "Arial", sans-serif;

$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1023px;
$desktop-min: 1024px;
$desktop-max: 1365px;
$desktop-hd-min: 1366px;
